@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;600;700&display=swap');

.page-layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "Geist", sans-serif;
    background: #0e0e0e;
    overflow: hidden;
}

/* Panels swapped */
.left-panel {
    flex: 0.5;
    border-radius: 0px;
    background: black;
    backdrop-filter: blur(1000px);
    padding: 30px;
    overflow-y: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    gap: 20px;
}

.right-panel {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.1);
}

/* Form styles */
.right-panel-heading {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: .5em;
    margin-top: 0px;
}

.username-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background: rgba(14, 14, 14, .4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 35px 50px;
    border-radius: 16px;
    backdrop-filter: blur(25px);
}

.username-box-text {
    color: #dbdbdb;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Input, button, stat cards remain same from Login.css */